<!-- Progress bar on scroll -->
<div class="progress-top-bar"></div>

<!-- Loader -->
<!-- <div id="global-loader">
    <img src="../../../assets/zem/assets/img/loader.svg" class="loader-img" alt="Loader">
</div> -->
<!-- /Loader -->

<div class="square-box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="bg-svg">
    <div class="page-login" >
        <div class="z-index-10">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 col-xs-10 mx-auto my-auto py-4 justify-content-center">
                        <div class="card-sigin">
                            
                            <!-- start content -->
                            <router-outlet></router-outlet>
                            <!-- end content -->
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
