
<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">เพิ่มข้อมูลรถยนต์</div>
        </div>
        <div class="card-body">
            <form #f="ngForm" action="#" class="row needs-validation" novalidate>
                <div class="col-md-2 position-relative">
                    <label for="hospcode" class="form-label">รหัสสถานพยาบาล</label>
                    <input type="text" class="form-control" ngModel name= "hospcode" id="hospcode" value="" required>
                    <div class="valid-tooltip">
                        รหัสสถานพยาบาล
                    </div>
                </div>                
                <div class="col-md-2 position-relative">
                    <label for="regist_num" class="form-label">เลขทะเบียนครุภัณฑ์</label>
                    <div class="input-group has-validation">
                        <!-- <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span> -->
                        <input type="text" class="form-control" ngModel name= "regist_num" id="regist_num" required>
                        <div class="invalid-tooltip">
                            กรุณากรอกข้อมูลเลขทะเบียนครุภัณฑ์
                        </div>
                    </div>
                </div> 
                <div class="col-md-2 position-relative">
                    <label for="car_number" class="form-label">เลขทะเบียนรถยนต์</label>
                    <input type="text" class="form-control" ngModel name= "car_number" id="car_number" value="" required>
                    <div class="valid-tooltip">
                        เลขทะเบียนรถยนต์
                    </div>
                </div>                
                <div class="col-md-3 position-relative">
                    <label for="type_id" class="form-label">ประเภท</label>
                    <select class="form-select" ngModel name= "type_id" id="type_id" required>
                        <option selected disabled value=""></option>
                        <option value="1">รถตู้</option>
                        <option value="2">รถกระบะ</option>
                        <option value="3">รถเก๋ง</option>
                        <option value="4">รถจักรยานยนต์</option>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาเลือกประเภทรถของท่าน.
                    </div>
                </div>
                <div class="col-md-3 position-relative">
                    <label for="brand" class="form-label">ยี่ห้อ</label>
                    <select class="form-select" ngModel name= "brand" id="brand" required>
                        <option selected disabled value=""></option>
                        <option value="1">Toyota</option>
                        <option value="2">Mitsubichi</option>
                        <option value="3">Mazda</option>
                        <option value="4">Honda</option>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาเลือกยี่ห้อรถของท่าน.
                    </div>
                </div>
                <div class="col-md-3 position-relative">
                    <label for="model" class="form-label">รุ่น</label>
                    <select class="form-select" ngModel name= "model" id="model" required>
                        <option selected disabled value=""></option>
                        <option value="VIGO">VIGO</option>
                        <option value="VIVO">VIVO</option>
                        <option value="Revo">Revo</option>
                        <option value="Altis">Altis</option>
                        <option value="Yaris">Yaris</option>
                        <option value="Cross">Cross</option>
                        <option value="Camry">Camry</option>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาเลือกรุ่นรถของท่าน.
                    </div>
                </div>                
                <div class="col-md-3 position-relative">
                    <label for="year" class="form-label">ปี</label>
                    <select class="form-select" ngModel name= "year" id="year" required>
                        <option selected disabled value=""></option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาเลือกยี่ห้อรถของท่าน.
                    </div>
                </div>
                <div class="col-md-3 position-relative">
                    <label for="color" class="form-label">สีตัวถังรถ</label>
                    <select class="form-select" ngModel name= "color" id="color" required>
                        <option selected disabled value=""></option>
                        <option value="1">เทา</option>
                        <option value="2">ขาว</option>
                        <option value="3">ดำ</option>
                        <option value="4">ทอง</option>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาเลือกสีตัวถังรถของท่าน.
                    </div>
                </div>
                <div class="col-md-3 position-relative">
                    <label for="active" class="form-label">สถานะ</label>
                    <select class="form-select" ngModel name= "active" id="active" required>
                        <option selected disabled value=""></option>
                        <option value="Y">ใช้งาน</option>
                        <option value="N">ไม่ใช้งาน</option>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาเลือกสถานะรถของท่าน.
                    </div>
                </div>
                <div class="col-md-12 position-relative">
                    <label for="detail" class="form-label">รายละเอียดอื่นๆ</label>
                    <input type="text" class="form-control" ngModel name= "detail" id="detail">
                    <div class="invalid-tooltip">
                        รายละเอียดข้อมูลอื่นๆ
                    </div>
                </div>                
                <div class="col-sm-4 col-md-4">
                    <label for="car_img" class="form-label">รูปภาพรถ</label>
                    <input type="file" ngModel observeFile (change)="fileChanged($event)" name="car_img" id="car_img" class="dropify" data-height="200">
                </div>
                <div class="col-12">
                    <button (click)="postCarMember(f)" class="btn btn-primary mt-3" type="submit">บันทึก</button>
                </div>
            </form>
        </div>
    </div>
</div>