<p>carmember-edit works!</p>


 <div class="col-span-2 m-6">
    <div class="bg-white shadow-lg shadow-gray-200 rounded-2xm p-4 mb-6 m-8">
        <h3 class="mb-4 text-xl font-bold">Edit Carmember form</h3>
        <form #f="ngForm" [formGroup]="carmemberForm">
        <!-- <form> -->
            <div class="grid grid-cols-6 gap-6 ">
                <div class="col-span-6 sm:col-span-3 ">
                    <label for="hospcode " class="block mb-2 text-sm font-medium text-gray-900 ">HOSPCODE</label>
                    <input type="text" ngModel formControlName="hospcode" name="hospcode" class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5 " placeholder="hospcode
            " required=" ">
                </div>
                <div class="col-span-6 sm:col-span-3 ">
                    <label for="car_id" class="block mb-2 text-sm font-medium text-gray-900 ">CAR ID</label>
                    <input type="text" ngModel formControlName="car_id" name="car_id" class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5 " placeholder="car_id
            " required=" ">
                </div>
                <div class="col-span-6 sm:col-span-3 ">
                    <label for="car_number" class="block mb-2 text-sm font-medium text-gray-900 ">CAR NUMBER</label>
                    <input type="text" ngModel formControlName="car_number" name="car_number" class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5 " placeholder="car_number
            " required=" ">
                </div>
                <div class="col-span-6 sm:col-span-3 ">
                    <label for="lname" class="block mb-2 text-sm font-medium text-gray-900 ">LAST NAME</label>
                    <input type="text" ngModel formControlName="hrlname" name="lname" class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5 " placeholder="last name
            " required=" ">
                </div>
                <div class="col-span-6 sm:col-span-3 ">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">EMAIL</label>
                    <input type="email" ngModel formControlName="hremail" name="email" class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5 " placeholder="example@company.com
            " required=" ">
                </div>
                <div class="col-span-6 sm:col-span-3 ">
                    <label for="image " class="block mb-2 text-sm font-medium text-gray-900 ">IMAGE</label>
                    <input type="file" ngModel formControlName="hrimage" name="image" observeFile (change)="fileChanged($event)" name="image" id="image" class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5 "
                        placeholder="
            " required=" ">
                </div>
                <div class="col-span-6 sm:col-full ">
                    <button (click)="saveCarmember()" class="text-white bg-blue-500 to-voilet-500 rounded-lg shadow-md shadow-gray-300 hover:scale-[1.02] transition-transform font-medium text-sm px-5 py-2.5 text-center " type="submit ">
        Save New Carmember
        </button>
                </div>
            </div>
        </form>
    </div>
</div>