<!-- main-sidebar -->
<div class="sticky">
    <aside class="app-sidebar">
        <div class="main-sidebar-header active">
            <a class="header-logo active" href="index.html">
                <img src="../../../assets/zem/assets/img/brand/logo-white.png" class="main-logo  desktop-dark" alt="logo">
                <img src="../../../assets/zem/assets/img/brand/logo-white-1.png" class="main-logo  desktop-dark-1" alt="logo">
                <img src="../../../assets/zem/assets/img/brand/favicon-white.png" class="main-logo  mobile-dark" alt="logo">
                <img src="../../../assets/zem/assets/img/brand/favicon-white-1.png" class="main-logo  mobile-dark-1" alt="logo">
            </a>
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left"><svg
                    fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                </svg></div>
            <ul class="side-menu">
                <!-- <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                        <svg class="ionicon side-menu__icon"
                                viewBox="0 0 512 512">
                                <title>Home</title>
                                <path
                                    d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212"
                                    fill="none" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="32" />
                                <path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69"
                                    fill="none" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="32" />
                        </svg>
                        <span class="side-menu__label">Dashboard</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Dashboard</a></li>
                        <li><a class="slide-item" href="index.html">General</a></li>
                        <li><a class="slide-item" href="index-1.html">Ecommerce</a></li>
                        <li><a class="slide-item" href="index-2.html">Projects</a></li>
                        <li><a class="slide-item" href="index-3.html">HRM</a></li>
                        <li><a class="slide-item" href="index-4.html">CRM</a></li>
                        <li><a class="slide-item" href="index-5.html">Analytics</a></li>
                        <li><a class="slide-item" href="index-6.html">Crypto</a></li>
                        <li><a class="slide-item" href="index-7.html">Sales</a></li>
                    </ul>
                    
                </li> -->
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="home">  <svg class="ionicon side-menu__icon"
                        viewBox="0 0 512 512">
                        <title>Home</title>
                        <path
                            d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212"
                            fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="32" />
                        <path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69"
                            fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="32" />
                </svg>
                <span class="side-menu__label">หน้าหลัก</span></a>
                </li>

                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="booking">  <svg class="ionicon side-menu__icon"
                        viewBox="0 0 512 512">
                        <title>Home</title>
                        <path
                            d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212"
                            fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="32" />
                        <path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69"
                            fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="32" />
                </svg>
                <span class="side-menu__label">ขอใช้งานรถ</span></a>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="booking">  <svg class="ionicon side-menu__icon"
                        viewBox="0 0 512 512">
                        <title>รายการขอใช้รถของฉัน</title>
                        <path
                            d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212"
                            fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="32" />
                        <path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69"
                            fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="32" />
                </svg>
                <span class="side-menu__label">รายการขอใช้รถของฉัน</span></a>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>รายงาน</title>
                            <rect x="64" y="176" width="384" height="256" rx="28.87" ry="28.87" fill="none"
                                stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
                            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                                stroke-width="32" d="M144 80h224M112 128h288" />
                        </svg><span class="side-menu__label">รายงาน</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Tables</a></li>
                        <li><a class="slide-item" href="table-basic.html">Basic Tables</a></li>
                        <li><a class="slide-item" href="table-data.html">Data Tables</a></li>
                        <li><a class="slide-item" href="table-editable.html">Editable Tables</a></li>
                    </ul>
                </li>
                <!-- <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>Elements</title>
                            <path
                                d="M448 341.37V170.61A32 32 0 00432.11 143l-152-88.46a47.94 47.94 0 00-48.24 0L79.89 143A32 32 0 0064 170.61v170.76A32 32 0 0079.89 369l152 88.46a48 48 0 0048.24 0l152-88.46A32 32 0 00448 341.37z"
                                fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="32" />
                            <path fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="32"
                                d="M69 153.99l187 110 187-110M256 463.99v-200" />
                        </svg><span class="side-menu__label">Elements</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Elements</a></li>
                        <li><a class="slide-item" href="alerts.html">Alerts</a></li>
                        <li><a class="slide-item" href="avatar.html">Avatar</a></li>
                        <li><a class="slide-item" href="breadcrumbs.html">Breadcrumbs</a></li>
                        <li><a class="slide-item" href="buttons.html">Buttons</a></li>
                        <li><a class="slide-item" href="badge.html">Badge</a></li>
                        <li><a class="slide-item" href="dropdown.html">Dropdown</a></li>
                        <li><a class="slide-item" href="list-group.html">List Group</a></li>
                        <li><a class="slide-item" href="navigation.html">Navigation</a></li>
                        <li><a class="slide-item" href="images.html">Images</a></li>
                        <li><a class="slide-item" href="pagination.html">Pagination</a></li>
                        <li><a class="slide-item" href="popover.html">Popover</a></li>
                        <li><a class="slide-item" href="progress.html">Progress</a></li>
                        <li><a class="slide-item" href="spinners.html">Spinners</a></li>
                        <li><a class="slide-item" href="media-object.html">Media Object</a></li>
                        <li><a class="slide-item" href="typography.html">Typography</a></li>
                        <li><a class="slide-item" href="tooltip.html">Tooltip</a></li>
                        <li><a class="slide-item" href="toast.html">Toast</a></li>
                        <li><a class="slide-item" href="tags.html">Tags</a></li>
                        <li><a class="slide-item" href="tabs.html">Tabs</a></li>
                    </ul>
                </li> -->
                <!-- <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>Advanced UI</title>
                            <circle cx="256" cy="184" r="120" fill="none" stroke="currentColor"
                                stroke-linejoin="round" stroke-width="32" />
                            <circle cx="344" cy="328" r="120" fill="none" stroke="currentColor"
                                stroke-linejoin="round" stroke-width="32" />
                            <circle cx="168" cy="328" r="120" fill="none" stroke="currentColor"
                                stroke-linejoin="round" stroke-width="32" />
                        </svg><span class="side-menu__label">Advanced UI</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Advanced UI</a></li>
                        <li><a class="slide-item" href="accordion.html">Accordion</a></li>
                        <li><a class="slide-item" href="carousel.html">Carousel</a></li>
                        <li><a class="slide-item" href="collapse.html">Collapse</a></li>
                        <li><a class="slide-item" href="modals.html">Modals</a></li>
                        <li><a class="slide-item" href="timeline.html">Timeline</a></li>
                        <li><a class="slide-item" href="sweet-alert.html">Sweet Alert</a></li>
                        <li><a class="slide-item" href="rating.html">Ratings</a></li>
                        <li><a class="slide-item" href="search.html">Search</a></li>
                        <li><a class="slide-item" href="userlist.html">Userlist</a></li>
                        <li><a class="slide-item" href="file-attached-tags.html">File Attachments</a></li>
                    </ul>
                </li> -->
                <!-- <li class="side-item side-item-category">Pages</li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>Pages</title>
                            <rect x="128" y="128" width="336" height="336" rx="57" ry="57" fill="none"
                                stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
                            <path
                                d="M383.5 128l.5-24a56.16 56.16 0 00-56-56H112a64.19 64.19 0 00-64 64v216a56.16 56.16 0 0056 56h24"
                                fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="32" />
                        </svg><span class="side-menu__label">Pages</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Pages</a></li>
                        <li><a class="slide-item" href="profile-notifications.html">Notifications-list</a>
                        </li>
                        <li><a class="slide-item" href="invoice.html">Invoice</a></li>
                        <li><a class="slide-item" href="pricing.html">Pricing</a></li>
                        <li><a class="slide-item" href="gallery.html">Gallery</a></li>
                        <li><a class="slide-item" href="todotask.html">Todotask</a></li>
                        <li><a class="slide-item" href="widgets.html">Widgets</a></li>
                        <li><a class="slide-item" href="empty.html">Empty Page</a></li>
                        <li><a class="slide-item" href="aboutus.html">About us</a></li>
                        <li><a class="slide-item" href="landing.html">Landing</a></li>
                        <li><a class="slide-item" href="faq.html">Faqs</a></li>
                        <li><a class="slide-item" href="settings.html">Settings</a></li>
                        <li class="sub-slide">
                            <a class="slide-item side-menu__item-sub" data-bs-toggle="sub-slide"
                                href="javascript:void(0)"><span
                                    class="sub-side-menu__label">Authentication</span><i
                                    class="sub-angle fe fe-chevron-down"></i></a>
                            <ul class="sub-slide-menu">
                                <li><a class="sub-side-menu__item" href="profile.html">Profile</a></li>
                                <li><a class="sub-side-menu__item" href="signin.html">Sign In</a></li>
                                <li><a class="sub-side-menu__item" href="signup.html">Sign Up</a></li>
                                <li><a class="sub-side-menu__item" href="forgot.html">Forgot Password</a>
                                </li>
                                <li><a class="sub-side-menu__item" href="reset.html">Reset Password</a></li>
                                <li><a class="sub-side-menu__item" href="lockscreen.html">Lockscreen</a>
                                </li>
                                <li><a class="sub-side-menu__item"
                                        href="underconstruction.html">underconstruction</a></li>
                                <li><a class="sub-side-menu__item" href="404.html">Error 404</a></li>
                                <li><a class="sub-side-menu__item" href="500.html">Error 500</a></li>
                                <li><a class="sub-side-menu__item" href="501.html">Error 501</a></li>
                            </ul>
                        </li>
                        <li class="sub-slide">
                            <a class="slide-item side-menu__item-sub" data-bs-toggle="sub-slide"
                                href="javascript:void(0)"><span
                                    class="sub-side-menu__label">Ecommerce</span><i
                                    class="sub-angle fe fe-chevron-down"></i></a>
                            <ul class="sub-slide-menu">
                                <li><a class="sub-side-menu__item" href="shop.html">Shop</a></li>
                                <li><a class="sub-side-menu__item" href="product-details.html">Product
                                        Details</a></li>
                                <li><a class="sub-side-menu__item" href="add-product.html">Add Product</a>
                                </li>
                                <li><a class="sub-side-menu__item" href="product-cart.html">Cart</a></li>
                                <li><a class="sub-side-menu__item" href="order-details.html">Order
                                        Details</a></li>
                                <li><a class="sub-side-menu__item" href="check-out.html">Check Out</a></li>
                                <li><a class="sub-side-menu__item" href="wish-list.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li class="sub-slide">
                            <a class="slide-item side-menu__item-sub" data-bs-toggle="sub-slide"
                                href="javascript:void(0)"><span class="sub-side-menu__label">Blog</span><i
                                    class="sub-angle fe fe-chevron-down"></i></a>
                            <ul class="sub-slide-menu">
                                <li><a class="sub-side-menu__item" href="blog.html">Blog</a></li>
                                <li><a class="sub-side-menu__item" href="blog-details.html">Blog Details</a>
                                </li>
                                <li><a class="sub-side-menu__item" href="edit-post.html">Blog Edit</a></li>
                            </ul>
                        </li>
                        <li class="sub-slide">
                            <a class="slide-item side-menu__item-sub" data-bs-toggle="sub-slide"
                                href="javascript:void(0)"><span class="sub-side-menu__label">Forms</span><i
                                    class="sub-angle fe fe-chevron-down"></i></a>
                            <ul class="sub-slide-menu">
                                <li><a class="sub-side-menu__item" href="form-elements.html">Form
                                        Elements</a></li>
                                <li><a class="sub-side-menu__item" href="form-advanced.html">Advanced
                                        Forms</a></li>
                                <li><a class="sub-side-menu__item" href="form-layouts.html">Form Layouts</a>
                                </li>
                                <li><a class="sub-side-menu__item" href="form-validation.html">Form
                                        Validation</a></li>
                                <li><a class="sub-side-menu__item" href="form-wizards.html">Form Wizards</a>
                                </li>
                                <li><a class="sub-side-menu__item" href="form-editor.html">Form Editor</a>
                                </li>
                                <li><a class="sub-side-menu__item" href="form-sizes.html">Elements Sizes</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> -->
                <!-- <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>ตั้งค่า</title>
                            <path fill="none" stroke="currentColor" stroke-linejoin="round"
                                stroke-width="32"
                                d="M336 320H32L184 48l152 272zM265.32 194.51A144 144 0 11192 320" />
                        </svg><span class="side-menu__label">ตั้งค่า</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Utilities</a></li>
                        <li><a class="slide-item" href="background.html">Background</a></li>
                        <li><a class="slide-item" href="border.html">Border</a></li>
                        <li><a class="slide-item" href="display.html">Display</a></li>
                        <li><a class="slide-item" href="flex.html">Flex</a></li>
                        <li><a class="slide-item" href="height.html">Height</a></li>
                        <li><a class="slide-item" href="margin.html">Margin</a></li>
                        <li><a class="slide-item" href="padding.html">Padding</a></li>
                        <li><a class="slide-item" href="position.html">Position</a></li>
                        <li><a class="slide-item" href="width.html">Width</a></li>
                        <li><a class="slide-item" href="extras.html">Extras</a></li>
                    </ul>
                </li> -->
                <li class="side-item side-item-category">setting</li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>Menu Level</title>
                            <path fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-miterlimit="10" stroke-width="32"
                                d="M80 160h352M80 256h352M80 352h352" />
                        </svg><span class="side-menu__label">จัดการระบบ</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">setting</a></li>
                        <li><a class="slide-item" href="carmember">จัดการข้อมูลรถ</a></li>
                        <li class="sub-slide">
                            <a class="slide-item side-menu__item-sub" data-bs-toggle="sub-slide"
                                href="javascript:void(0)"><span
                                    class="sub-side-menu__label">ตั้งค่าข้อมูลรถ</span><i
                                    class="sub-angle fe fe-chevron-down me-4"></i></a>
                            <ul class="sub-slide-menu">
                                <li><a class="sub-side-menu__item" href="javascript:void(0)">ประเภท</a></li>
                                <li><a class="sub-side-menu__item" href="javascript:void(0)">ยี่ห้อ</a></li>
                                <li><a class="sub-side-menu__item" href="javascript:void(0)">รุ่น</a></li>
                                <li><a class="sub-side-menu__item" href="javascript:void(0)">สีรถ</a></li>
                                <li><a class="sub-side-menu__item" href="javascript:void(0)">ปี</a></li>
                                <!-- <li class="sub-slide2">
                                    <a class="sub-side-menu__item side-menu__item-sub2"
                                        data-bs-toggle="sub-slide2" href="javascript:void(0)"><span
                                            class="sub-side-menu__label">Level-2.3</span><i
                                            class="sub-angle2 fe fe-chevron-down"></i></a>
                                    <ul class="sub-slide-menu1">
                                        <li><a class="sub-slide-item2"
                                                href="javascript:void(0)">Level-2.3.1</a></li>
                                        <li><a class="sub-slide-item2"
                                                href="javascript:void(0)">Level-2.3.2</a></li>
                                        <li><a class="sub-slide-item2"
                                                href="javascript:void(0)">Level-2.3.3</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- <li class="side-item side-item-category">Settings</li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="switcher-1.html"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>Switcher</title>
                            <circle cx="368" cy="256" r="128" fill="none" stroke="currentColor"
                                stroke-linejoin="round" stroke-width="32" />
                            <rect x="16" y="128" width="480" height="256" rx="128" ry="128" fill="none"
                                stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
                        </svg><span class="side-menu__label">Switcher</span></a>
                </li>
                <li class="side-item side-item-category">General</li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>Icons</title>
                            <circle cx="256" cy="256" r="192" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" />
                            <circle cx="256" cy="256" r="64" fill="none" stroke="currentColor"
                                stroke-miterlimit="10" stroke-width="32" />
                            <path fill="none" stroke="currentColor" stroke-linecap="round"
                                stroke-miterlimit="10" stroke-width="32"
                                d="M224 192L171 85M288 192l53-107M327.55 255.81l119.41.13M299.09 313.13l72.25 95.06M184.45 255.81l-119.41.13M212.91 313.13l-72.25 95.06" />
                        </svg><span class="side-menu__label">Icons</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Icons</a></li>
                        <li><a class="slide-item" href="icons.html">Font Awesome </a></li>
                        <li><a class="slide-item" href="icons2.html">Material Design Icons</a></li>
                        <li><a class="slide-item" href="icons3.html">Simple Line Icons</a></li>
                        <li><a class="slide-item" href="icons4.html">Feather Icons</a></li>
                        <li><a class="slide-item" href="icons5.html">Ionic Icons</a></li>
                        <li><a class="slide-item" href="icons6.html">Flag Icons</a></li>
                        <li><a class="slide-item" href="icons7.html">Pe7 Icons</a></li>
                        <li><a class="slide-item" href="icons8.html">Themify Icons</a></li>
                        <li><a class="slide-item" href="icons9.html">Typicons Icons</a></li>
                        <li><a class="slide-item" href="icons10.html">Weather Icons</a></li>
                        <li><a class="slide-item" href="icons11.html">Material Icons</a></li>
                        <li><a class="slide-item" href="icons12.html">Bootstrap Icons</a></li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>Charts</title>
                            <rect x="64" y="320" width="48" height="160" rx="8" ry="8" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="32" />
                            <rect x="288" y="224" width="48" height="256" rx="8" ry="8" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="32" />
                            <rect x="400" y="112" width="48" height="368" rx="8" ry="8" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="32" />
                            <rect x="176" y="32" width="48" height="448" rx="8" ry="8" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="32" />
                        </svg><span class="side-menu__label">Charts</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Charts</a></li>
                        <li><a class="slide-item" href="chart-morris.html">Morris Charts</a></li>
                        <li><a class="slide-item" href="chart-flot.html">Flot Charts</a></li>
                        <li><a class="slide-item" href="chart-chartjs.html">ChartJS</a></li>
                        <li><a class="slide-item" href="chart-echart.html">Echart</a></li>
                        <li><a class="slide-item" href="chart-sparkline.html">Sparkline</a></li>
                        <li><a class="slide-item" href="chart-peity.html">Chart-peity</a></li>
                    </ul>
                </li>
                <li class="side-item side-item-category">COMPONENTS</li>
            
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><svg class="ionicon side-menu__icon"
                            viewBox="0 0 512 512">
                            <title>Maps</title>
                            <path d="M448 64L64 240.14h200a8 8 0 018 8V448z" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="32" />
                        </svg><span class="side-menu__label">Maps</span><i
                            class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li class="side-menu__label1"><a href="javascript:void(0)">Maps</a></li>
                        <li><a class="slide-item" href="map-leaflet.html">Leaflet Maps</a></li>
                        <li><a class="slide-item" href="map-vector.html">Vector Maps</a></li>
                    </ul>
                </li> -->
            </ul>
            <div class="slide-right" id="slide-right">
                <svg fill="#7b8191"
                    width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                </svg></div>
        </div>
    </aside>
</div>
<!-- main-sidebar -->